<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<main id="root">

  <span>Drews Test message<span>
  <span>Johns Test message<span>

  <span>Erics Test message trust the process<span>

  <span>Joses Test message<span>

</main>
